# Temporary and binary files
*~
*.py[cod]
*.so
*.cfg
!.isort.cfg
!setup.cfg
*.orig
*.log
*.pot
__pycache__/*
.cache/*
.*.swp
*/.ipynb_checkpoints/*
.DS_Store

# sometimes symlink to make for easier indexing
ed3d-plugins/


# Project files
.ropeproject
.project
.pydevproject
.settings
.idea
.vscode
tags

